{
    "presets": [
        "react",
        "env",
        "stage-0"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-decorators-legacy",
        ["babel-plugin-transform-require-ignore", {"extensions": ".css"}],
        ["module-resolver", {
            "alias": {
                "^Module(.*)": "./app/modules\\1",
                "^Component(.*)": "./app/components\\1"
            }
        }],
        ["transform-define", {
            "DEBUG": false
        }]
    ]
}
